@font-face {
  font-family: sans-serif;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../fonts/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  font-family: "Poppins";
}

ul {
  list-style-type: none;
}

input:focus {
  outline: none;
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__logo__link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav__logo__text {
  color: #22343D;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
}

.nav__menu {
  display: flex;
}
.nav__menu__btn {
  padding: 10px 25px;
  color: #173a56;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background-color: transparent;
  transition: 0.5s;
}
.nav__menu__btn:hover {
  color: #fff;
  background-color: #02897A;
}

.nav__list {
  display: flex;
  gap: 24px;
  align-items: center;
}
.nav__list__link {
  color: #22343D;
  font-size: 18px;
  line-height: 28px;
  transition: 0.5s ease-in-out;
  font-family: 400;
}
.nav__list__link:hover {
  font-weight: 700;
}

.nav__btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
}

.dark__light__mode {
  width: 100%;
}

.hamburger__btn {
  background-color: transparent;
  border: none;
  display: none;
  position: absolute;
  z-index: 1;
  top: 18px;
  right: 20px;
  z-index: 0;
}

.hamburger {
  display: none;
}

#navbar-responsive {
  position: fixed;
  background-color: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
  top: 80px;
  right: -100%;
  height: 450px;
  transition: 0.5s;
  z-index: 1000000;
  transition: 1s;
  display: none;
}

#navbar-close {
  position: absolute;
  top: -60px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10000;
  opacity: 0;
  border: none;
}

.res__nav__link {
  color: #22343D;
  font-size: 26px;
  line-height: 28px;
  transition: 0.5s ease-in-out;
  font-family: 400;
  transition: 0.5s;
}
.res__nav__link:hover {
  font-size: 28px;
}

.res__nav__item {
  padding-bottom: 20px;
}

.res__nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.res__nav__btn {
  padding: 15px 40px;
}

@media (max-width: 950px) {
  .nav__menu {
    display: none;
  }
  .hamburger,
  .hamburger__btn {
    display: inline-block;
  }
  #navbar-responsive {
    display: flex;
  }
}
@media (max-width: 450px) {
  .res__nav__link {
    font-size: 24px;
  }
}
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode #navbar-responsive {
  background-color: black;
}
.dark-mode #navbar-responsive #navbar-close {
  background-color: white;
}
.dark-mode header * {
  color: #fff;
  background-color: black;
}
.dark-mode .product__container * {
  color: #fff;
}
.dark-mode .hamburger__btn {
  background-color: white;
}
.dark-mode .service * {
  color: #fff;
}
.dark-mode .home__container * {
  color: white;
}
.dark-mode .home__container * .home__btn {
  color: black;
}
.dark-mode .home__container * .home__btn:hover {
  color: #fff;
}

.dark-mode * {
  color: white;
}

main {
  margin-top: 80px;
}

.home__container {
  display: flex;
  gap: 33px;
  padding-top: 25px;
  padding-bottom: 114px;
  align-items: center;
}
.home__img {
  width: 100%;
}
.home__left {
  width: 55%;
}
.home__title {
  color: #22343D;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.home__desc {
  color: #22343D;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 18px;
  padding-bottom: 45px;
}
.home__btn {
  padding: 15px 40px;
  color: #173a56;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  transition: 0.5s;
}
.home__btn:hover {
  background-color: #02897A;
  color: #fff;
  font-weight: 600;
}
.home__link {
  display: flex;
  gap: 8px;
}
.home__play__btn {
  background-color: transparent;
  border: none;
}
.home__link__play {
  color: #173a56;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
}
.home__link__play:hover {
  color: #02897A;
  text-decoration-line: underline;
}
.home__buttons {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 900px) {
  .home__container {
    flex-direction: column;
  }
  .home__left {
    width: 100%;
  }
  .home__desc {
    padding-bottom: 18px;
  }
}

@media (max-width: 400px) {
  .home__buttons {
    flex-direction: column;
  }
  .home__title {
    font-size: 30px;
    text-align: center;
  }
  .home__desc {
    text-align: center;
  }
}
.product__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 46px;
       column-gap: 46px;
}
.product__header {
  display: flex;
  justify-content: center;
  margin-bottom: 66px;
}
.product__title {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
}
.product__card__title {
  color: #22343D;
  font-size: 22px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 8px;
}
.product__card__desc {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.product__card img {
  border-radius: 19px;
}
.product__btn {
  padding: 15px 32px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  background: #02897A;
  margin-top: 60px;
  margin-bottom: 90px;
}
.product .product__button {
  display: flex;
  justify-content: center;
}
.product .product__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 220px;
}

@media (max-width: 1020px) {
  .product__row {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 46px;
  }
}
@media (max-width: 650px) {
  .product__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .product__row {
    grid-template-columns: repeat(1, 1fr);
  }
  .product__title {
    text-align: center;
  }
  .product__card {
    margin: 0 auto;
  }
  .product__card img {
    display: flex;
    margin: 0 auto;
  }
  .product__card__title {
    margin: 0 auto;
  }
  .product__card__desc {
    max-width: 100%;
    text-align: center;
  }
}
.service__container {
  padding-top: 169px;
}
.service__row {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  margin-bottom: 169px;
}
.service__main__img {
  width: 100%;
}
.service__info {
  width: 50%;
}
.service__desc, .service__feature {
  color: #22343D;
  font-size: 16px;
  line-height: 26px;
}
.service__feature {
  font-weight: 600;
}
.service__row__title {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 23px;
}
.service__feature__card {
  margin-top: 30px;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .service__row {
    flex-direction: column;
  }
  .service__row .service__info {
    width: 100%;
  }
  .row-2 {
    flex-direction: column-reverse;
  }
}
@media (max-width: 900px) {
  .service__row__subtitle, .service__row__title {
    text-align: center;
  }
}
.offer__row__card {
  display: flex;
  align-items: center;
  gap: 16px;
}
.offer__row__card__textbox {
  border-radius: 26.5px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  padding: 15px 25px;
}
.offer__row__card__textbox .offer__row__card__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer__row {
  display: flex;
  justify-content: center;
  gap: 178px;
  margin-top: 32px;
  margin-bottom: 24px;
}
.offer__row .offer__row__card {
  display: flex;
}

.offer__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.offer__header .offer__title {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
}
.offer__header .offer__subtitle {
  color: #22343D;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  max-width: 542px;
}

@media (max-width: 800px) {
  .offer__row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
  }
}
.offer__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  background-color: #02897A;
}

.offer__button {
  display: flex;
  justify-content: center;
  padding-top: 39px;
}