main {
  margin-top: $header-height;
}

.home {
  &__container {
    display: flex;
    gap: 33px;
    padding-top: 25px;
    padding-bottom: 114px;
    align-items: center;
  }

  &__img {
    width: 100%;
  }

  &__left {
    width: 55%;
  }

  &__title {
    color: $primary-text;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
  }

  &__desc {
    color: $primary-text;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 18px;
    padding-bottom: 45px;
  }

  &__btn {
    padding: 15px 40px;
    color: #173a56;
    background-color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    border: 1px solid #bcd0e5;
    transition: 0.5s;
    &:hover {
      background-color: $secondary-text;
      color: #fff;
      font-weight: 600;
    }
  }

  &__link {
    display: flex;
    gap: 8px;
  }

  &__play__btn {
    background-color: transparent;
    border: none;
  }

  &__link__play {
    color: #173a56;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;

    &:hover {
      color: $secondary-text;
      text-decoration-line: underline;
    }
  }

  &__buttons {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  @media (max-width: 900px) {
    &__container {
      flex-direction: column;
    }

    &__left {
      width: 100%;
    }

    &__desc {
      padding-bottom: 18px;
    }
  }
}

@media (max-width: 400px) {
  .home__buttons {
    flex-direction: column;
  }
  .home__title {
    font-size: 30px;
    text-align: center;
  }
  .home__desc {
    text-align: center;
  }
}

.product {
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 46px;
  }

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
  }

  &__title {
    color: $primary-text;
    font-size: 32px;
    font-weight: 700;
  }

  &__card__title {
    color: $primary-text;
    font-size: 22px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 8px;
  }

  &__card__desc {
    color: $primary-text;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  &__card img {
    border-radius: 19px;
  }

  &__btn {
    padding: 15px 32px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background: $secondary-text;
    margin-top: 60px;
    margin-bottom: 90px;
  }

  .product__button {
    display: flex;
    justify-content: center;
  }

  .product__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 220px;
  }
}

@media (max-width: 1020px) {
  .product__row {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 46px;
  }
}

@media (max-width: 650px) {
  .product__row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .product__row {
    grid-template-columns: repeat(1, 1fr);
  }

  .product__title {
    text-align: center;
  }

  .product__card {
    margin: 0 auto;
    img {
      display: flex;
      margin: 0 auto;
    }
    &__title {
      margin: 0 auto;
    }

    &__desc {
      max-width: 100%;
      text-align: center;
    }
  }
}

.service {
  &__container {
    padding-top: 169px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 169px;
  }

  &__main__img {
    width: 100%;
  }

  &__info {
    width: 50%;
  }

  &__desc,
  &__feature {
    color: $primary-text;
    font-size: 16px;
    line-height: 26px;
  }

  &__feature {
    font-weight: 600;
  }

  &__row__title {
    color: $primary-text;
    font-size: 32px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 23px;
  }

  &__feature__card {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 900px) {
  .service__row {
    flex-direction: column;
    .service__info {
      width: 100%;
    }
  }
  .row-2 {
    flex-direction: column-reverse;
  }
}

@media (max-width: 900px) {
  .service__row {
    &__subtitle,
    &__title {
      text-align: center;
    }
  }
}

.offer__row__card {
  display: flex;
  align-items: center;
  gap: 16px;

  &__textbox {
    border-radius: 26.5px;
    background: #fff;
    box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
    padding: 15px 25px;
    .offer__row__card__text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.offer__row {
  display: flex;
  justify-content: center;
  gap: 178px;
  margin-top: 32px;
  margin-bottom: 24px;
  .offer__row__card {
    display: flex;
  }
}

.offer__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  .offer__title {
    color: $primary-text;
    font-size: 32px;
    font-weight: 700;
  }

  .offer__subtitle {
    color: $primary-text;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    max-width: 542px;
  }
}

@media (max-width: 800px) {
  .offer__row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
  }
}

.offer__btn {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  background-color: $secondary-text;
}

.offer__button {
  display: flex;
  justify-content: center;
  padding-top: 39px;
}
